.photoBlock {
  display: inline-block;
  width: 500px;
  height: 500px;
}

.cell_1h {
  width: 496px;
  height: 496px;
}

.cell_2h {
  width: 496px;
  height: 246px;
}
.cell_3h {
  width: 200px;
  height: 200px;
}
.cell_4h {
  width: 200px;
  height: 200px;
  font-size: 50px; 
  position: absolute;
  text-align: center;
  background-image: url("http://magickalgraphics.com/Graphics/Miscellaneous/Flowers/flowers140.jpg");
/*background-image: linear-gradient(#004092,#020202,transparent);*/
/*box-shadow: 0px 5px 10px -5px rgba(0,0,0,8);*/
}